bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Design references
1_WoNbpzEu1akF0N8dE3rb4A.png
3613f360926fae004521197488623465eb0cd751-1920x1035.jpeg
3613f360926fae004521197488623465eb0cd751-1920x1035.webp
gemini-screenshot.png
